/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package com.citypay.pos.api

import com.citypay.pos.model.DeviceInfo
import com.citypay.pos.model.Result
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object DeviceModuleApi {

  /**
   * Obtains information regarding the device and to review the current status of a device such as the battery charge, serial number and device type. 
   * 
   * Expected answers:
   *   code 200 : DeviceInfo (Information on the given device)
   *   code 403 : Result (Unauthorized to access the device)
   * 
   * @param deviceId The name of the target device used by the API.
   */
  def deviceInfo(deviceId: String): ApiRequest[DeviceInfo] =
    ApiRequest[DeviceInfo](ApiMethods.GET, "https://pos.citypay.com/citypay-pos-api/1.0.0", "/device/{deviceId}/info", "application/json")
      .withPathParam("deviceId", deviceId)
      .withSuccessResponse[DeviceInfo](200)
      .withErrorResponse[Result](403)
        /**
   * To monitor or to check whether a device is available, the host can send a simple &#x60;GET&#x60; request to the URL at &#x60;/device/{deviceId}/ping&#x60; to see if the device is responding and available. 
   * 
   * Expected answers:
   *   code 200 : Result (Response of a ping request)
   *   code 403 : Result (Unauthorized to access the device)
   * 
   * @param deviceId The name of the target device used by the API.
   */
  def ping(deviceId: String): ApiRequest[Result] =
    ApiRequest[Result](ApiMethods.GET, "https://pos.citypay.com/citypay-pos-api/1.0.0", "/device/{deviceId}/ping", "application/json")
      .withPathParam("deviceId", deviceId)
      .withSuccessResponse[Result](200)
      .withErrorResponse[Result](403)
      

}

